@import "/ui/_Theme.scss";

.leaderboard {
    position: absolute;
    top: $safe-area-y;
    left: 50%;
    flex-direction: column;
    width: 400px;
    font-size: 20px;
    transform: translate( -50% );

    .playing-to {
        text-align: center;
        color: white;
        font-weight: 800;
        margin-bottom: 10px;
        text-shadow: 0 2px 2px rgba( black, 0.25 );
    }
}

.leaderboard-entry {
    flex-grow: 1;
    color: white;
    margin: 2px 0;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba( black, 0.25 );
    background-color: $background;
    backdrop-filter: $backdrop-filter;

    &.me {
        border-bottom: 2px solid $accent;
    }

    .leaderboard-entry-name {
        flex-grow: 1;
        font-weight: 700;
    }

    .leaderboard-entry-avatar {
        border-radius: 100%;
        width: 32px;
        aspect-ratio: 1;
        margin: 0 8px;
    }

    .leaderboard-entry-place {
        width: 40px;
        text-align: center;
        padding-right: 20px;
        margin-right: 5px;
        border-right: 1px solid rgba( white, 0.5 );
    }

    .leaderboard-entry-score {
        width: 50px;
        text-align: center;
        padding-left: 20px;
        margin-left: 5px;
        border-left: 1px solid rgba( white, 0.5 );
    }

    label {
    }
}
