text,label
{
	font-family: Kairos Sans;
	font-weight: 700;
	color: white;
	text-shadow: 2px 2px 10px rgba( black, 0.8 );
}

text.alert 
{
	font-size: 25px;
	padding: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: rgba( white, 0.4 );
	text-shadow: 0 0 50px rgba( black, 0.1 );
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	padding: 50px 100px;
	
	font-size: 48px;
	
	align-items: center;
	justify-content: space-between;

	.health, .ammo {
		align-items: center;
	}

	.icon {
		width: 64px;
		height: 64px;
		background-size: cover;

		&.slugs {
			background-image: url( /textures/ui/slugs.png );
			margin-left: -16px;
		}
		&.health {
			background-image: url( /textures/ui/health.png );
			margin-right: -16px;
		}
	}
	
	.speed {
		font-size: 24px;
	}
	
	text {
		padding: 20px 40px;
	}
}

.crosshair {
	position: absolute; 
	left: 50%;
	top: 50%;
	border-radius: 10px;
	border: 2px solid white;
	width: 6px;
	height: 6px;
	padding: 5px;
	
	margin-left: -7px;
	margin-top: -7px;
	
	.crosshair-move {
		position: absolute;
		transform: translate( -50% -50% );
		top: -27px;
		left: -27px;
		
		width: 64px;
		height: 64px;
		
		.up,.left,.right,.down {
			position: absolute;
			width: 16px;
			height: 16px;
			margin-left: 0px;
			margin-top: 0px;

			background-size: cover;
			background-image: url( textures/ui/chevron-up.png );
			opacity: 0;
			
			transition: all 100ms ease;
			
			&.active {
				opacity: 1;
			}
		}
		
		.up {
			top: 0;
			left: 50%;
			
			&.active {
				top: -5px;
			}

			margin-left: -8px;
		}
		
		.left {
			left: 0;
			top: 50%;

			&.active {
				left: -5px;
			}

			margin-top: -8px;
			transform: rotate( 270deg );
		}
		
		.right {
			right: 0;
			top: 50%;
			
			&.active {
				right: -5px;
			}

			margin-top: -8px;
			transform: rotate( 90deg );
		}
		
		.down {
			bottom: 0;
			left: 50%;
			
			&.active {
				bottom: -5px;
			}	

			margin-left: -8px;
			transform: rotate( 180deg );
		}
	}
	
	.crosshair-inner {
		position: absolute;
		left: 4px;
		top: 4px;
		transform: translate( -50% -50% );
		border-radius: 10px;
		background-color: white;
		width: 2px;
		height: 2px;
	}
}

.frag {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	
	align-items: center;
	justify-content: center;

	text-align: center;
	padding-bottom: 400px;
	
	font-size: 24px;

	flex-direction: column;
	
	opacity: 1;
	transition: opacity 200ms ease;
	
	&.inactive {
		opacity: 0;
	}
	
	.player {
		color: #ff151c;
		font-weight: 600;
	}

	.medals {		
		flex-direction: column;
		font-size: 18px;
	}
}

.highlight {
	color: #40c0ff;
	text-shadow: 0 0 10px rgba( black, 0.2 );
}

.mainpanel { 
	position: absolute; 
	top: 0; 
	right: 0; 
	left: 0; 
	bottom: 0; 
}