@import "/Code/UI/_Colors.scss";

.main {
    z-index: -1;
}

text, label, input, textentry, icon, iconpanel {
    font-family: Poppins;
    font-weight: 700;
    color: white;
}

text.alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 32px;
}

text.alert, text.menu-prompt {
    padding: 75px 100px;
    text-align: center;
    opacity: 0.2;
}

text.menu-prompt {
    font-size: 20px;
    transition: opacity 100ms ease;
    opacity: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 75px 100px;
    font-size: 32px;
    align-items: flex-end;
    justify-content: space-around;

    .health, .ammo {
        align-items: center;
    }

    .icon {
        width: 64px;
        height: 64px;
        background-size: cover;
    }

    .speed {
        font-size: 20px;
        align-items: center;
    }

    text {
        padding: 10px 20px;
    }
}

.frag {
    position: absolute;
    top: 400px;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-direction: row;

    .frag-message {
        backdrop-filter: blur( 20px ) brightness( 0.5 );
        border: 2px solid rgba( black, 0.4 );
        flex-direction: row;
        text-align: center;
        border-radius: 10px;
        flex-shrink: 0;
        margin: 10px 10px;
        align-items: center;
        position: absolute;
        opacity: 1;
        transform: scale( 1 );
        transition: all 200ms ease, box-shadow 500ms ease;
        box-shadow: 0 0 25px transparent;

        &:intro {
            opacity: 0;
            transform: scale( 0 );
            box-shadow: 0 0 500px rgba( white, 0.5 );
        }

        &:outro {
            opacity: 0;
            transform: scale( 0 );
        }
    }

    .frag-details {
        padding: 10px 20px;
        text-align: right;
        margin-left: 10px;
        justify-content: flex-start;
        flex-direction: column;
    }

    .player {
        color: #D3FF19;
    }

    .frag-skull {
        padding: 10px 15px 10px 15px;
        height: 100%;
        font-size: 32px;
        justify-content: center;
        align-items: center;
        background-color: rgba( white, 0.05 );
        background-image-tint: rgba( white, 0.5 );
        border-radius: 11px 0px 0px 11px; // 11px is the sweet spot despite the parent being 10px. don't ask why
    }

    .medals {
        flex-direction: column;
        font-size: 16px;
    }

    .weapon {
        font-size: 20px;
    }
}

ParallaxHud, .staticpanel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

iconpanel, icon {
    font-size: 48px;
    font-family: MaterialIconsRound;
    margin: 0;
    padding: 0;
}

.round-start {
    font-size: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 250px;
}

.speed {
    padding-left: 20px;

    icon {
        font-size: 32px;
        margin-right: -12px;
    }
}

.ammo {
    padding-right: 15px;

    icon {
        color: #338DFF;
        margin-left: -8px;
    }
}

.health {
    padding-left: 15px;

    icon {
        color: #D3FF19;
        margin-right: -8px;
    }
}

.health, .speed, .ammo {
    text-shadow: 0 0 4px solid black;
}

deathpanel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    padding-top: 500px;
    text-align: center;
    font-size: 24px;
    flex-direction: column;
    opacity: 1;
    transition: opacity 200ms ease;

    &:outro {
        opacity: 0;
    }

    .player {
        color: #D3FF19;
    }

    .medals {
        flex-direction: column;
        font-size: 18px;
    }
}

KillFeed {
    top: 50px;
    right: 50px;

    > KillFeedEntry {
        border-radius: 10px;
        backdrop-filter: blur( 20px ) brightness( 0.5 );
        border: 2px solid rgba( black, 0.4 );
        background-color: transparent;
        height: 50px;
    }
}