@import "Colors";

winnerscreen {
    padding: 50px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    z-index: 10000;
    width: 1280px;
}

label.title {
    font-size: 32px;
    font-weight: 700;
    height: 60px;
    left: 50px;
    top: 50px;
    color: white;
    border-bottom: 5px solid $accent;
    font-family: Poppins-ExtraBoldItalic;
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}