text 
{
	font-family: Nunito Sans;
	font-weight: 900;
	color: white;
	text-shadow: 2px 2px 10px rgba( black, 0.8 );
}

text.alert 
{
	font-size: 25px;
	padding: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: rgba( white, 0.4 );
	text-shadow: 0 0 50px rgba( black, 0.1 );
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	padding: 50px;
	
	font-size: 48px;
	
	align-items: center;
	justify-content: space-between;
	
	text {
		padding: 20px 40px;
	}
}

.crosshair {
	position: absolute; 
	left: 50%;
	top: 50%;
	background-color: white;
	border-radius: 10px;
	border: 2px solid black;
	width: 6px;
	height: 6px;
	transform: translate( -50% -50% );
}

.frag {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	
	align-items: center;
	justify-content: center;
	
	text-align: center;
	padding-bottom: 150px;
	
	font-size: 24px;
}

.highlight {
	color: #40c0ff;
	text-shadow: 0 0 10px rgba( black, 0.2 );
}

.mainpanel { 
	position: absolute; 
	top: 0; 
	right: 0; 
	left: 0; 
	bottom: 0; 
}