@import "/Code/UI/_Colors.scss";

.post-game-screen {
    flex-direction: column;
}

label.title {
    font-size: 96px;
    font-weight: 700;
    font-family: Poppins-ExtraBoldItalic;
    text-align: center;
    text-shadow: 0 0 16px rgba( black, 0.25 );

    transition: all 500ms ease 0;

    &:intro {
        opacity: 0;
        transform: scale( 1.1 );
    }
}

.map-list {
    width: 100%;
    justify-content: center;
}

.time-left {
    font-size: 16px;
    margin: 10px;
}