Controls {
    position: absolute;
    top: 120px;
    left: 50px;
    padding: 10px 20px;
    flex-direction: column;
    border-radius: 10px;
    backdrop-filter: blur( 20px ) brightness( 0.5 );
    border: 2px solid rgba( black, 0.4 );
    width: 250px;

    .title {
        font-size: 20px;
    }

    .control {
        justify-content: space-between;
    }
}
