.game-state {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;

    div {
        border-radius: 10px;
        backdrop-filter: blur( 20px ) brightness( 0.5 );
        border: 2px solid rgba( black, 0.4 );
    }

    .game-state-text {
        margin-right: 4px;
        padding: 10px 20px;
    }

    .game-time {
        margin-left: 4px;
        padding: 10px 20px;
        border-radius: 0 10px 10px 0;
        backdrop-filter: brightness( 1.5 );
    }
}