@import "Colors";

:not() { // why
    flex-shrink: 0;
}

.menu-items {
    height: 100%;
    justify-content: center;

    button {
        padding: 25px 50px;
        margin-left: 0;
        margin-right: 0;
    }

    position: relative;

    span {
        height: 75px;
        top: -75px;
        left: -50px;
    }
}

label.subtitle {
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    color: $gray-500;
    font-family: Poppins-ExtraBoldItalic;
}

label.title {
    font-size: 32px;
    font-weight: 700;
    height: 60px;
    margin-bottom: 20px;
    color: white;
    border-bottom: 5px solid $accent;
    font-family: Poppins-ExtraBoldItalic;
}

label.big {
    font-size: 24px;
    padding: 25px 0;
    font-weight: 700;
    font-family: Poppins-ExtraBoldItalic;
}